h1{
  text-align: center;
}
h2{
  font-family: sans-serif;
  font-size: 20px;
}
.column{

}
.Addword {
    width: 25%;
    margin-top: 50px;
    text-align: left;
}
.submission {
    width: 75%;
    text-align: center;
}
.myt{
    position: absolute;
    left: 32%;
    width:500px;
    height:100px;
}
.myt1{
    position: absolute;
    left:50%;
}
.content{
    text-align: center;
}
.red_text{
    color: red;
}
